@use "sass:math";

// TODO: Move this to the drowl-sass-base npm package
/* Global admin/backend css variables for usage in other drowl (admin) modules to prevent double definitions of this vars */
:root {
  /* Brand variables */
  --drowl-green: #89a129;
  --drowl-green-dark: #7b9125;
  --drowl-text-color: #342e37;
  --drowl-green-text-color: #fff;
  --drowl-border-radius-small: 3px;
  /* Adminimal Theme colors (LEGACY VARIABLES - TODO: remove on next major release) */
  --adminimal-primary: #327ebd;
  --adminimal-primary-light: #8abbe4;
  --adminimal-grey-light: #dbdbdb;
  /* Spaces */
  --drowl-space-md: 1rem;
  /* Typo */
  --drowl-font-family: "Open Sans", Arial, sans-serif; /* Font family used by admin toolbar, what should be available everywhere we need it too. */
  --drowl-font-size-base: 16px;
  --drowl-font-size-small: 14px;
  --drowl-font-weight-bold: 600;
  /* Colors */
  --drowl-gray-light: #eeeeee;
  --drowl-gray-medium: #cccccc;
  --drowl-gray-dark: #454545;
  --drowl-gray-darker: #1f1f1f;
  --drowl-white-glass: rgba(255, 255, 255, 0.65);
  --drowl-black-glass: rgba(0, 0, 0, 0.75);
  /* Status colors (https://coolors.co/3c91e6-342e37-e5ece6-a2d729-fa824c) */
  --drowl-success: #a2d729;
  --drowl-success-light: #eef7d8;
  --drowl-success-text: #fff;
  --drowl-warning: #fd6d2a;
  --drowl-warning-light: #fee8de;
  --drowl-warning-text: #fff;
  --drowl-info: #3c91e6;
  --drowl-info-light: #dbebfa;
  --drowl-info-transparent: rgba(60, 145, 230, 0.5);
  --drowl-info-text: #fff;
  /* Objects */
  /* -- Buttons */
  --drowl-button-border-radius: var(--drowl-border-radius-small);
  --drowl-button-padding: 8px 15px;
  --drowl-button-default-background: var(--drowl-info);
  --drowl-button-default-color: var(--drowl-info-text);
  --drowl-button-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  /* Editors */
  --drowl-editor-border-radius-small: var(--drowl-border-radius-small);
  --drowl-editor-grid-gutter: 8px;
}
