@use "sass:math";
@import "base";

/* Add DROWL Admin Dashboard Icon */
.toolbar-icon[href*="admin/dashboard"]::before {
  font: normal normal normal 14px/1 $admin-iconfont-family !important;
  content: $drowl-admin-ico-grid !important;
  mask: none !important;
  background-color: transparent !important;
  display: flex !important;
  align-items: center;
}

/* GIN Admin Toolbar Fixes and Improvements */

/*
  [Fix] cropped menus caused by the Gin toolbar adding a overflow-x:auto.
  This is a conflict with the Foundation .menu styles, which have position
  relative by default. This breaks the Gin positioning logic, and results
  in cropped menu flyouts.
  See Issue: https://www.drupal.org/project/gin/issues/3388831
*/
.gin--horizontal-toolbar .toolbar-lining {
  .menu {
    position: static;
  }
}

/*
  [FIX] Conflict with the Foundation topbar positioning (.topbar is
  overlayed by the gin menus.
*/
.gin-secondary-toolbar--frontend {
  position: fixed !important;
  top: var(--gin-toolbar-height) !important;
  width: 100%;
  margin-top: var(--enviroment-indicator-border-width, 0px) !important;
}
html body.gin--horizontal-toolbar {
  margin-top: calc(var(--gin-toolbar-height) + var(--gin-toolbar-secondary-height) + var(--enviroment-indicator-border-width, 0px)) !important;
  padding-top: 0 !important;
}
.gin--horizontal-toolbar .top-bar-outer.is-stuck {
  top: calc(var(--gin-toolbar-height) + var(--gin-toolbar-secondary-height) + var(--enviroment-indicator-border-width, 0px)) !important;
}

/* Hide Edit button Text */
.toolbar-icon-edit {
  height: 32px !important;
  width: 32px !important;
  font-size: 0px !important;
}

/* Hide "Breadcrumbs" (only PAGENAME Edit) in the frontend theme */
.gin-secondary-toolbar--frontend .gin-breadcrumb-wrapper {
  visibility: hidden;
}

/* Fix buttons foundation conflict inside topbar */
.gin-secondary-toolbar--frontend .button {
  margin-bottom: 0 !important;
}

/* Optimize Secondary toolbar menus */
.gin-secondary-toolbar--frontend .toolbar-menu > li:not(:last-child) {
  margin-bottom: 3px;
}

@media (min-width: 61em) {
  html .gin-secondary-toolbar--frontend .toolbar-menu {
    flex-direction: column !important;
  }

  html .gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab .toolbar-tray {
    width: 220px;
  }
}
