@use "sass:math";
@import "base";
@import "./node_modules/drowl-sass-base/all_foundation_mixins";

// Admin UI
#page {
  // use id selector instead of !important to ensure the styles will override default theme styles
  .layout-builder {
    --layout-builder-outer-grid-space: 20px;
    font-family: var(--drowl-font-family);
    padding: var(--layout-builder-outer-grid-space);
    .layout-builder-block {
      // Some resets to prevent side effects coming from the (custom) theme
      position: relative !important;
      // Ensure Layout Builder blocks text is readable - even if the theme sets it to white or something
      // This color is overridden by .is-layout-builder-highlighted
      // so ensure child elements still getting the regular color.
      color: var(--drowl-text-color, black);
      transition-property: outline, box-shadow;
      transition-duration: 2s;
      &:hover {
        transition-duration: 0s;
      }
      &:not(.is-layout-builder-highlighted):hover {
        color: var(--drowl-info, blue);
        box-shadow: 1px 1px 0 inset var(--drowl-info-light, lightblue),
          -1px -1px 0 inset var(--drowl-info-light, lightblue);
      }
      &.is-layout-builder-highlighted {
        // Use box-shadow instead border - so this style doesnt affect the
        // box-model & causes moving other contents.
        border: 0 none !important;
        color: var(--drowl-info, blue);
        // outline: 2px solid var(--drowl-info, blue);
        box-shadow: 2px 2px 0 inset var(--drowl-info, lightblue),
          -2px -2px 0 inset var(--drowl-info, lightblue);
      }
      > * {
        color: var(--drowl-text-color, black);
      }
    }
    &__link {
      // Buttons (all)
      display: inline-block;
      background-color: var(--drowl-button-default-background);
      color: var(--drowl-button-default-color);
      padding: var(--drowl-button-padding);
      border: 0 none;
      border-radius: var(--drowl-button-border-radius);
      font-size: var(--drowl-font-size-small);
      font-family: var(--drowl-font-family);
      text-shadow: var(--drowl-button-text-shadow);
      text-decoration: none;
      background-image: none; // remove the ugly core svg icons
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 20px;
      vertical-align: middle;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        float: left;
        display: block;
        font-weight: var(--drowl-font-weight-bold);
        font-size: 20px;
        text-align: center;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        margin-right: 8px;
        background-color: var(--drowl-success-text);
        color: var(--drowl-text-color);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        text-shadow: none;
      }
      &:hover {
        filter: brightness(103%);
      }
      &:active {
        filter: brightness(95%);
      }
      &--add {
        background-color: var(--drowl-success);
        border-color: var(--drowl-success);
        color: var(--drowl-success-text);
        &::before {
          content: "+";
          color: var(--drowl-success);
        }
      }
      &--remove {
        background-color: var(--drowl-warning);
        border-color: var(--drowl-warning);
        color: var(--drowl-warning-text);
        // Undo some core styles
        text-indent: 0;
        height: auto;
        width: auto;
        &::before {
          content: "+";
          transform: rotate(-45deg);
          color: var(--drowl-warning);
        }
      }
    }
    &__section {
      --section-border-color: var(--drowl-gray-medium);
      position: relative;
      margin-left: calc(var(--layout-builder-outer-grid-space) * -1);
      margin-right: calc(var(--layout-builder-outer-grid-space) * -1);
      padding: 15px var(--layout-builder-outer-grid-space);
      border-width: 2px 0;
      border-style: solid none;
      border-color: var(--section-border-color);
      // Add arrows so the user is able to see the beginning and the end of a section
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: 50%;
        margin-left: -3px;
        border-width: 6px;
        border-style: solid;
        border-color: var(--section-border-color) transparent transparent
          transparent;
      }
      &::after {
        top: auto;
        bottom: -1px;
        border-color: transparent transparent var(--section-border-color)
          transparent;
      }
      &:hover {
        --section-border-color: var(--adminimal-primary);
      }
      // Section buttons
      > .layout-bulder__link {
        margin: 0 var(--drowl-space-md) var(--drowl-space-md) 0;
      }
      // Drag and drop
      .ui-state-drop {
        background: var(--drowl-warning-light) !important;
        outline-color: var(--drowl-warning) !important;
        flex-grow: 1;
        z-index: 99999;
      }
      .layout-builder-block {
        &.ui-sortable-helper {
          // while dragging
          opacity: 0.75;
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.35);
        }
      }
    }
    &__layout {
      > .layout-builder__region {
        margin-bottom: 20px; // prevent colliding outlines
        // Fix collapsing margins
        padding-top: 1px;
        padding-bottom: 1px;
      }
    }
    &__region {
      // Ensure website styles does not affect layout builder styles
      display: block !important;
      text-shadow: none !important;
      outline-color: var(--drowl-info);
      background: white;
      min-height: 10px;
      position: relative;
      div {
        // This might cause problems. But we need to prevent display:flex, display:grid etc.
        // coming from the theme.
        display: block !important;
      }
      &:hover {
        outline-style: solid;
      }
      &.viewport-width {
        // Prevent the region from being cutted off (because of the 100vw width + scrollbar problem)
        width: 98vw;
        transform: translateX(1vw);
      }
    }
    &__region-label {
      display: block;
      font-style: italic;
      position: absolute;
      left: -2px;
      top: -2px;
      z-index: 2;
      background: var(--drowl-info);
      color: var(--drowl-info-text);
      padding: 0.5em;
      border: 0 none;
      border-radius: 0 0 5px 0;
      user-select: none;
      border: 0 none;
      font-size: var(--drowl-font-size-small);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100px;
      &:hover {
        max-width: 100%;
      }
    }
    &__add-section,
    &__add-block {
      // Lower the size of the add-buttons
      padding: 0.5rem;
      position: relative;
      > a:only-child {
        // Make the whole 'button' clickable
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }
    &__add-section {
      background-color: transparent;
      outline-color: var(--drowl-gray-light);
      margin-bottom: var(--drowl-space-md);
      &:hover {
        outline-style: solid;
        outline-color: var(--drowl-gray-medium);
      }
    }
    &__add-block {
      display: flex;
      justify-content: center;
      transition-duration: 150ms;
      transition-property: max-height, padding;
      transition-delay: 250ms; // prevent starting the animation if the user just moves the cursor around
      overflow: hidden;
    }
    // Current active add section / block modifier
    .is-layout-builder-highlighted {
      outline: 2px solid var(--drowl-success);
      background-color: var(--drowl-success-light);
      border: 0 none;
    }
    // Content preview mode
    &--content-preview-disabled {
      .layout-builder-block {
        // Remove "placeholder for x" text (no wrapper)
        min-height: 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0;
        color: transparent;
        border: 0 none;
        &__content-preview-placeholder-label {
          color: var(--drowl-text-color);
          font-size: 1rem;
          font-weight: var(--drowl-font-weight-bold);
          &::before {
            // TODO: Add kinda.. drag icon grippie.. thing
            // content: $ico-more;
            // line-height:1;
            // font-family: $iconfont-family;
            // margin-right:.5em;
          }
        }
        &:nth-child(2n + 1) {
          background-color: var(--drowl-info-light);
        }
        &:hover {
          background-color: var(--drowl-success-light);
        }
        &:first-of-type {
          padding-top: 2rem; // reserved space for the region label
        }
      }
    }
    &:not(.layout-builder--content-preview-disabled) {
      // Reduce ui implications if content preview is enabled
      .layout-builder__region-label {
        display: none;
      }
      .layout-builder__region {
        outline-color: var(--drowl-info-transparent);
        &:hover {
          > .layout-builder__add-block {
            max-height: 150px;
            padding: 6px;
          }
        }
      }
      .layout-builder__add-block {
        max-height: 0;
        padding: 0;
      }
    }
    // Fix content preview
    .layout-builder-block {
      // Force linebreaks for overlong strings
      word-break: break-word;
    }
    // -- Card tiles
    .card.card--tile {
      .card__image {
        position: static;
        transform: scale(1) !important;
        * {
          height: auto;
        }
      }
    }
  }
  .grid-x {
    margin-bottom: var(--drowl-space-md);
  }
}
// Other form elements
#node-page-layout-builder-form {
  > .form-item {
    @include xy-grid-container();
  }
}
// More compact layout selection
#drupal-off-canvas {
  .layout-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    > li {
      min-width: 0;
      > a {
        text-align: center;
        > div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &:hover {
        .layout-icon {
          rect {
            fill: var(--drowl-info);
            stroke: var(--drowl-info);
          }
        }
      }
    }
  }
  // Make the submit button sticky, so no scrolling is needed to save
  > form > .form-submit {
    position: sticky !important;
    left: 0 !important;
    bottom: 0 !important;
  }
}
// Docked edit actions
#entity-view-display-layout-builder-form > #edit-actions,
form[id*="layout-builder-form"] > #edit-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: var(--drowl-black-glass);
  color: var(--drowl-gray-light);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-item {
    margin-bottom: 0;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    label.option::before {
      margin-right: 0.45rem;
      color: var(--drowl-success);
    }
  }
  .button {
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 3px;
    &#edit-submit {
      background-color: var(--drowl-success);
      border-color: var(--drowl-success);
      color: var(--drowl-success-text);
      text-shadow: var(--drowl-button-text-shadow);
    }
    &#edit-discard-changes,
    &#edit-revert {
      &:hover {
        background-color: var(--drowl-warning);
        border-color: var(--drowl-warning);
        color: var(--drowl-warning-text);
        text-shadow: var(--drowl-button-text-shadow);
      }
    }
  }
  // Toggle preview checkbox
  #edit-preview-toggle {
    margin-left: 2rem;
  }
  .form-item-toggle-content-preview input[type="checkbox"] {
    & + label::before {
      content: $drowl-admin-ico-eye-blocked;
      background-color: transparent;
      border: 0 none;
      color: var(--drowl-warning);
      font-size: 18px;
      line-height: 1; // TODO: fix this in the regular styled checkboxes definition
      margin-top: 2px;
      box-shadow: none !important; // TODO: There is an inset shadow set on hover by _forms-scss
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:checked + label::before {
      content: $drowl-admin-ico-eye-blocked;
      background-color: transparent;
      border-color: var(--drowl-success);
      color: var(--drowl-success);
    }
  }
}

// Also fix vertical tabs beyond
.js-form-type-vertical-tabs {
  @include xy-grid-container();
  .vertical-tabs__panes {
    padding: 10px;
  }
}

// Dock the layout builder form actions (& fix its layout)
.entity-view-display-layout-builder-form {
  > .form-actions {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: white;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    > *:not(:last-child) {
      margin: 0 0.5rem 0 0;
    }
    #edit-preview-toggle {
      margin-left: auto;
      .form-item {
        margin: 0 !important;
      }
    }
  }
}
