@use "sass:math";
@import "base";

/**
* drowl-util-admin: Admin(imal) theme overrides.
*/

/* Tables */
table td {
  vertical-align: top;
}

/* =============================================================================== */
/* ==================================== Forms ================================ */
/* =============================================================================== */

/* Adminimal does not style selects - so we add equal styling for all form elements */
input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-date,
input.form-time,
textarea.form-textarea,
/* Added selectors */
.form-select {
  box-sizing: border-box;
  padding: 0.3em 0.4em 0.3em 0.5em;
  max-width: 100%;
  border: 1px solid #b8b8b8;
  border-top-color: rgb(184, 184, 184);
  border-top-color: #999;
  color: #333;
  border-radius: 2px;
  background-color: #fcfcfa;
  box-shadow: none;
  font-size: 1em;
  color: #595959;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* Remove nonsene carret icon from selects */
.adminimal select {
  background-image: none !important;
}

/* Views Filters */
.views-exposed-form .form--inline {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 1rem;
}
.views-exposed-form .form--inline * {
  box-sizing: border-box;
}
.views-exposed-form .form--inline .form-item,
.views-exposed-form .form--inline .form-actions {
  flex: 1 1 33%;
  min-width: 100px;
  margin: 0 0 0.5rem 0;
  padding: 0 10px;
}
.views-exposed-form .form--inline .form-item .form-text,
.views-exposed-form .form--inline .form-item .form-select {
  width: 100%;
}
.views-exposed-form .form--inline .form-actions {
  min-width: 80px;
  margin-left: auto;
  align-self: flex-end;
  flex-grow: 0;
  flex-basis: auto;
}

/* FIX CKeditor styles & elements flyout (more width and height) */
.cke_panel.cke_combopanel {
  width: 400px;
  height: 300px;
}

/* Fix Autocomplete fields (text overlays icon) */
.form-autocomplete.form-text {
  padding-right: 22px;
}
.ui-autocomplete.ui-front {
  background: rgba(0, 0, 0, 0.9);
  color: #ccc !important;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* Fix bug inside cores .ui-dialog - autocomplete suggestions are shown behind the layer (also overwidth) */
  z-index: 9999999;
  max-width: 450px;
}
.ui-autocomplete .ui-menu-item {
  border-bottom: 1px solid black;
  color: #ccc !important;
}
.ui-autocomplete .ui-menu-item a {
  color: currentColor;
  text-decoration: none;
}
.ui-autocomplete .ui-menu-item span.admin-toolbar-search-url {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}
.ui-autocomplete .ui-menu-item:hover,
.ui-autocomplete .ui-menu-item:hover > .ui-menu-item-wrapper {
  color: white !important;
  background-color: #0066a1;
}

/* Node Forms */
/* -- Move sidebar to bottom on smaller screens (especialy to have more space for ERL) */
@media (max-width: 1500px) {
  .layout-node-form > .layout-region-node-main,
  .layout-node-form > .layout-region-node-secondary {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
