@use "sass:math";
@import "base";

// Enhancements for the GIN Admin Theme
html body .ui-dialog.ui-widget-content,
html body.toolbar-tray-open.toolbar-horizontal .webform-ui-dialog,
html body.toolbar-tray-open.toolbar-vertical .webform-ui-dialog {
  position: fixed !important;
  top: 50% !important;
  width: 100% !important;
  max-width: 1350px !important;
  max-height: calc(100vh - 2rem) !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 1rem !important;
  display: flex !important;
  flex-direction: column !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) !important;
  ~ .ui-dialog.ui-widget-content {
    // Larger drop shadow for further, overlaying, dialogs
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25),
      0px 0px 100px rgba(0, 0, 0, 0.5),
      0px 0px 800px 100px rgba(255, 255, 255, 0.9) !important;
  }
}

.ck.ck-balloon-panel {
  /* Fix CKEditor Modal z-index for Core Dialogs */
  --ck-z-modal: 999999 !important;
}

// Set a max-height for ui-dialogs - otherwise no scrollbar appears
// and high dialogs getting cut off if heigher then the viewport.
.ui-dialog .ui-widget-content.ui-dialog-content {
  max-height: calc(100vh - 10rem) !important;
}

// Prevent body from being scrolled in the background while the dialog is open
.drowl-admin--core-dialog-open {
  // This is not perfect, because the vertical scrollbar disappears,
  // what cause a little horizontal jump of the whole body.
  // But seems to be okay for now, as it just happens while the modal
  // is opening, and the user not started to interact with it in
  // this second.
  overflow-y: hidden;
}
