@use "sass:math";
@import "base";

// Reset some page styles first
.field-container--inline > :not(:first-child)::before {
  display: none;
}

// Show Region Labels
#page {
  .layout-builder {
    --lb-block-padding: 1.5rem;
    --lb-section-padding: 0.5rem;
    --lb-contextual-links-height: 40px;
    border-color: var(--drowl-info);
    &__section {
      padding: var(--lb-section-padding);
      > a {
        // Configure & Delete Buttons
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        padding: 0.5rem !important;
        position: relative;
        top: calc(var(--lb-section-padding) * -1);
        margin-top: 1px;
        height: auto !important;
        width: auto !important;
        min-width: 40px;
        min-height: 40px;
        background-image: none;
        vertical-align: top;
        ~ a {
          margin-left: -0.5rem;
        }
        &:not(:hover) {
          background-color: var(--drowl-gray-light);
        }
        &::after {
          position: static !important;
        }
      }
      > .layout-builder__link--remove {
        font-size: 0px;
        color: transparent;
        mask-image: none;
        &::after {
          content: "";
          position: absolute !important;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.24996 13.4583C4.24996 14.2375 4.88746 14.875 5.66663 14.875H11.3333C12.1125 14.875 12.75 14.2375 12.75 13.4583V4.95833H4.24996V13.4583ZM5.66663 6.375H11.3333V13.4583H5.66663V6.375ZM10.9791 2.83333L10.2708 2.125H6.72913L6.02079 2.83333H3.54163V4.25H13.4583V2.83333H10.9791Z' fill='rgb(142, 146, 156)'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 17px 17px;
          text-indent: 0;
        }
        &:hover::after {
          filter: brightness(200%);
        }
      }
    }
    &__layout,
    &__region {
      // Ensure all layout regions are reachable (for example 'tile' objects are very
      // problematic here, because the content-regions overlaying the media/image region.
      display: block !important;
      position: relative !important;
      transform: none !important;
      text-shadow: none !important;
    }
    &__region {
      outline: 1px dashed var(--drowl-info);
      div {
        // This might cause problems. But we need to prevent display:flex, display:grid etc. coming from the custom theme.
        // coming from the theme.
        display: block !important;
      }
      &:hover {
        outline-style: solid;
      }
    }
    &__region-label {
      display: block !important;
      text-align: left;
      font-size: var(--drowl-font-size-small, 12px);
    }
    &__add-section,
    &__add-block {
      outline: none;
      // Lower the size of the add-buttons
      padding: 0.5rem;
      position: relative;
      background-color: var(--drowl-info-light);
      > a {
        &:only-child {
          // Make the whole 'button' clickable
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
    &__add-block {
      margin-bottom: 0.5rem;
    }
    &__link {
      &--add {
        font-weight: var(--drowl-font-weight-bold);
        background-image: none;
        color: rgba(0, 0, 0, 0.6);
        &::before {
          content: $drowl-admin-ico-plus-circle;
          font-family: $admin-iconfont-family;
          font-size: 1em;
          color: var(--drowl-success, green);
          margin-right: 0.5em;
          background: white;
          border-radius: 50%;
        }
      }
    }
  }
  // TODOs:
  // 1) Core issue: Add a class + style for edited and unsaved blocks (like we already
  //    have it in drupals drag-lists.
  //    Also add a class for "last edited" so the user is able to see which block was
  //    edited at last, and is able to proceed right away, without visually searching
  //    for the label or something.

  .layout-builder-block {
    // Some resets to prevent side effects coming from the (custom) theme
    position: relative !important;
    margin: 3px;
    padding: 0.5rem;
    // Ensure Layout Builder blocks text is readable - even if the theme sets it to white or something
    // This color is overridden by .is-layout-builder-highlighted
    // so ensure child elements still getting the regular color.
    color: var(--drowl-text-color, black);
    transition-property: outline, box-shadow;
    transition-duration: 2s;
    box-shadow: 1px 1px 0 inset var(--drowl-info-light, lightblue),
      -1px -1px 0 inset var(--drowl-info-light, lightblue);
    &:hover {
      transition-duration: 0s;
    }
    &:not(.is-layout-builder-highlighted):hover {
      z-index: 5;
      box-shadow: 1px 1px 0 inset var(--drowl-info, lightblue),
        -1px -1px 0 inset var(--drowl-info, lightblue);
    }
    &.is-layout-builder-highlighted {
      // Use box-shadow instead border - so this style doesnt affect the
      // box-model & causes moving other contents.
      border: 0 none !important;
      color: var(--drowl-info, blue);
      box-shadow: 2px 2px 0 inset var(--drowl-info, lightblue),
        -2px -2px 0 inset var(--drowl-info, lightblue);
    }
    > * {
      color: var(--drowl-text-color, black);
    }

    // UX Improvement: Show the contextual links submenu on layout builder blocks
    // without opening the contextual links menu first.
    &.contextual-region {
      // Reserve space for the permanently visible contextual links
      padding-top: calc(
        var(--lb-contextual-links-height) + var(--lb-block-padding)
      ) !important;
      > .contextual {
        position: absolute !important;
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
        z-index: 45;
        padding: 0;
        > .trigger {
          display: none !important;
        }
        > .contextual-links {
          position: static !important;
          height: var(--lb-contextual-links-height);
          padding: 0;
          display: block;
          top: 0;
          box-shadow: none;
          border-radius: 0;
          display: flex;
          background-color: var(--drowl-info-light, #1f1f1f);
          color: white;
          &:hover {
            background-color: var(--drowl-info, #1f1f1f);
          }
          > li {
            background-color: transparent;
            line-height: 1;
            a {
              background-color: transparent;
              color: inherit;
              padding: 0.4em;
              &:hover {
                background-color: rgba(0, 0, 0, 0.15) !important;
              }
            }
            // Icons (replace labels with icons - only for known links)
            &.layout-builder-block-update,
            &.layout-builder-block-move,
            &.layout-builder-block-remove {
              > a {
                font-size: 0px !important;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: var(--lb-contextual-links-height);
                &::before {
                  font-family: $admin-iconfont-family;
                  font-size: 16px;
                }
              }
            }
            &.layout-builder-block-update > a::before {
              content: $drowl-admin-ico-pen;
            }
            &.layout-builder-block-move > a::before {
              content: $drowl-admin-ico-menu-move-v;
            }
            &.layout-builder-block-remove > a::before {
              content: $drowl-admin-ico-delete;
            }
          }
        }
      }
    }
  }
}

#drupal-off-canvas-wrapper {
  width: 400px !important;
  color: white;
  .ui-dialog-content,
  .fieldset {
    color: inherit;
  }
  form {
    label {
      color: inherit;
    }
  }
  .ui-widget-content.ui-dialog-content {
    background: transparent !important;
  }
}

#drupal-off-canvas {
  // More compact layout selection
  .layout-selection {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    > li {
      min-width: 0;
      padding: 0;
      > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-inline: 0;
        outline: 0 none !important;
        text-align: center;
        > svg {
          opacity: 0.7;
          flex: 0 0 auto;
          height: auto;
        }
        > div {
          flex: 0 0 auto;
          font-size: var(--drowl-font-size-small);
          line-height: 1;
        }
        &:hover {
          > svg {
            opacity: 1;
          }
          .layout-icon {
            rect {
              fill: var(--drowl-info);
              stroke: var(--drowl-info);
            }
          }
        }
      }
    }
  }
  // Make the submit button sticky, so no scrolling is needed to save
  > form > .form-submit {
    position: sticky !important;
    left: 0 !important;
    bottom: 0 !important;
  }
  // Gruped Add-Menus
  .links.nav {
    // Fix Bootstrap conflict (.nav = display:flex)
    display: block !important;
  }
}

// Dock the layout builder form actions (& fix its layout)
.entity-view-display-layout-builder-form {
  > .form-actions {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: white;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    > *:not(:last-child) {
      margin: 0 0.5rem 0 0;
    }
    #edit-preview-toggle {
      margin-left: auto;
      .form-item {
        margin: 0 !important;
      }
    }
  }
}
