@use "sass:math";
@import "base";
@import "./node_modules/drowl-sass-base/all_foundation_mixins";
// Optimize Drupals contextual links (add type specific icons, better coloring and size, etc.)
body {
  // Try to fix overlaying contextual links
  .contextual-region {
    .contextual-region {
      .contextual {
        top: 45px !important;
      }
      .contextual-region {
        .contextual {
          top: 90px !important;
        }
      }
    }
    // Reset the logic for entites inside layouts
    .layout,
    .drowl-layout {
      .contextual-region {
        .contextual {
          top: 0 !important;
        }
        .contextual-region {
          .contextual {
            top: 45px !important;
          }
          .contextual-region .contextual {
            top: 90px !important;
          }
        }
      }
    }
  }

  // Use body to make our selectors overriding the core theme selectors.
  .contextual {
    .trigger {
      width: 40px !important;
      height: 40px !important;
      border-radius: 6px !important;
      border: 0 none !important;
      color: var(--adminimal-primary);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
      transition-duration: 150ms;
      transition-property: background-color, box-shadow;
      background-image: none !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      &:hover,
      &:focus {
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.28) !important;
      }
      &::before {
        @include get-ico-only($drowl-admin-ico-pen, $iconfont-family: $admin-iconfont-family);
        font-size: 16px !important;
        line-height: 1 !important;
        background: none !important;
        mask: none !important;
        text-indent: 0 !important;
        display: block !important;
        width: auto !important;
        height: auto !important;
        position: absolute !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
      }
    }
    &:not(.open) {
      .trigger {
        &:hover {
          background-color: var(--adminimal-primary);
          background-image: none !important;
          color: white;
        }
      }
    }
    &.open {
      .trigger {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
      .trigger,
      .contextual-links {
        box-shadow: 0 -6px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .contextual-links {
    top: 0 !important;
    border: 0 none !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    .trigger {
      &::before {
        left: 0 !important;
      }
    }
    .button {
      text-align: left !important;
      border: 0 none !important;
      margin: 0 !important;
      padding-top: 0.75em !important;
      padding-bottom: 0.75em !important;
      border-radius: 0 !important;
      &:hover {
        background-color: var(--adminimal-primary) !important;
        color: white !important;
      }
    }
  }

  // Entity Bundles with type specific icon
  .paragraph,
  .media-slideshow,
  .media-image,
  .media-slide,
  .media-video,
  .media-remote-video,
  .block,
  .view,
  .node {
    // Open contextual links flyout to left instead right
    &.contextual-region .contextual .trigger {
      // float: left;
      left: auto;
      right: 0;
    }
    &.contextual-region .contextual .contextual-links {
      right: 0;
      left: auto;
      border-top-left-radius: 4px !important;
      border-top-right-radius: 0 !important;
    }
    // Add custom - type specific - icons
    > .contextual {
      .trigger {
        overflow: visible !important;
        background-image: none !important;
        &::before,
        &::after {
          mask: none !important;
        }
        &::before {
          display: flex;
          align-items: center;
          justify-content: center;
          color: currentColor;
          background: none !important;
        }
        &::after {
          @include get-ico-only($drowl-admin-ico-pen, $iconfont-family: $admin-iconfont-family);
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: -10px;
          top: -10px;
          width: 24px;
          height: 24px;
          font-size: 10px;
          border-radius: 50%;
          text-indent: 0;
          background-color: var(--adminimal-primary);
          color: white;
        }
      }
      &.open {
        .trigger {
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
      }
      &:not(.open) .trigger:hover {
        // Override default icon background
        background-image: none !important;
      }
    }
  }
  .paragraph > .contextual .trigger::before {
    @include get-ico-only($drowl-admin-ico-paragraph, $iconfont-family: $admin-iconfont-family);
  }
  .block > .contextual .trigger::before {
    @include get-ico-only($drowl-admin-ico-block, $iconfont-family: $admin-iconfont-family);
  }
  .view > .contextual .trigger::before {
    @include get-ico-only($drowl-admin-ico-list, $iconfont-family: $admin-iconfont-family);
  }
  .node > .contextual .trigger::before {
    @include get-ico-only($drowl-admin-ico-file-text, $iconfont-family: $admin-iconfont-family);
  }
  .media-video > .contextual,
  .media-remote-video > .contextual {
    .trigger {
      &::before {
        @include get-ico-only($drowl-admin-ico-clapboard-play, $iconfont-family: $admin-iconfont-family);
      }
    }
  }
  .media-slideshow > .contextual {
    left: 12px;
    right: auto;
    // Add custom icon
    .trigger {
      &::before {
        @include get-ico-only($drowl-admin-ico-images, $iconfont-family: $admin-iconfont-family);
      }
    }
  }
  .media-image > .contextual,
  .media-slide > .contextual {
    top: 50% !important;
    left: 50%;
    right: auto;
    // Add custom icon
    .trigger {
      &::before {
        @include get-ico-only($drowl-admin-ico-image, $iconfont-family: $admin-iconfont-family);
      }
    }
  }

  .header-image-wrapper {
    // Since we use nested paragraphs in header images a lot of contextual links appearing
    // so we hide the senseless ones
    .block-region--header-image-entity-field > .contextual, // <-- Header image block node reference field
    .media-slide .contextual-region .contextual {
      // <-- Hide deeper nested entities context links
      visibility: hidden !important;
      pointer-events: none !important;
    }
  }
}
